@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:5.25pt;text-align:center;
line-height:36.0pt;background:white;vertical-align:baseline'>
            <a name="OLE_LINK1"></a><a name="OLE_LINK2"></a><a name="OLE_LINK3">
                <span style='font-size:22.5pt;
font-family:Helvetica;color:#444444'>
                    <br>
                    TALONVIEW HEALTH SCREENING APP
                </span>
            </a>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <a href="https://calendly.com/anne-35" target="_blank">
                <span style='font-size:13.5pt;font-family:Helvetica;color:white;text-transform:uppercase;
letter-spacing:1.5pt;border:none windowtext 1.0pt;padding:0in;background:#0089CF;
text-decoration:none'>SCHEDULE A DEMO</span>
            </a>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                In today’s challenging environment, Talon brings employers
                simple and powerful solutions for employee health monitoring during a time when
                the value of timely information is critical to maintaining a safe work
                environment. Our solution can help your business to re-open your workplace as
                quickly as possible while keeping your employees, customers, and their
                communities safe and informed during this crisis.
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>&nbsp;</span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:3.0pt;text-align:center;
line-height:22.5pt;background:white;vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;color:#0089CF'>RETURN SAFELY</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                • Replaces manual tracking of COVID-19<br>
                • Eliminates exposure to human temperature takers<br>
                • Integrates with other systems, including most entry access systems<br>
                • HIPAA Compliant Cloud Storage
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:3.0pt;text-align:center;
line-height:22.5pt;background:white;vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;color:#0089CF'>REAL-TIME DATA</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                • Alerting management and reporting real-time, organizational
                updates<br>
                • Live chat, video, and secure file sharing capability<br>
                • Easy time and location reporting with check-in feature<br>
                • Dashboard allows access to data to identify and act on trends
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:3.0pt;text-align:center;
line-height:22.5pt;background:white;vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;color:#0089CF'>
                EXPENSE AND RISK
                MITIGATION
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                • Eliminates expense of staff conducting health screenings<br>
                • Reduces expense of FTEs that are dedicated to taking temperatures<br>
                • Solution with capacity to support millions of users<br>
                • Documentation can minimize expenses associated with general liability
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>&nbsp;</span>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:5.25pt;text-align:center;
line-height:36.0pt;background:white;vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;color:#444444'>
                PLATFORM KEY
                FEATURES
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                A secure mobile app replaces any manual tracking and allows
                individuals to perform a personal self-assessment to report potential COVID-19
                symptoms before entering the workplace. These forms can be customized as
                necessary. A unique check-in feature allows users to capture the GPS, date, and
                time of locations visited within the app. All personal information is
                protected.
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                Fully integrated, remote temperature screening device will scan
                up to 20 individuals per minute and eliminate the need for human screeners.
                This device links to most existing access systems with “Fever-Based Access
                Control” features that prohibit entry to individuals with elevated
                temperatures. User access can be controlled with electronic security IDs or by
                facial recognition software.
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                Instant alerts within the app can be customized to give users
                immediate guidance when symptoms of elevated temperatures are detected.
                Reported temperatures are updated&nbsp;<s>
                    <span style='border:none windowtext 1.0pt;
padding:0in'>in</span>
                </s>&nbsp;real-time in the dashboard and elevated
                temperature alerts are sent instantly to key individuals.
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                Talon’s platform hosts IoT connections to ingest and export
                information to capitalize on real-time information being provided from hardware
                devices. Some examples of these integrations include controlling equipment
                (Open Door, Close Door) or getting status (e.g., the status of a
                telecommunication tower or temperature of a worker or a patient).
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:13.5pt;font-family:Helvetica;
color:#676767'>
                Easily searchable dashboard to monitor the overall results of
                your organization’s daily health readiness reported COVID-19 symptoms, elevated
                temperature detection, and specific historical user data. A convenient check-in
                feature can identify hotspots based on GPS data for historical tracking of
                cases and locations. Reports can be customized, and all encrypted data is
                stored in a secure HIPAA compliant environment.
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;
color:#444444'>&nbsp;</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;
color:#444444'>SEE ALSO: TALON’S SOLUTIONS FOR&nbsp;</span><a href="https://talon.io/solutions-remote-care-management/">
                <span style='font-size:22.5pt;font-family:Helvetica;color:#0089CF;border:none windowtext 1.0pt;
padding:0in;text-decoration:none'>REMOTE CARE MANAGEMENT</span>
            </a>
        </p>

        <p class=MsoNormal align=center style='text-align:center;background:white;
vertical-align:baseline'>
            <span style='font-size:22.5pt;font-family:Helvetica;
color:#444444'>OR CONTACT&nbsp;</span><a href="mailto:SALES@TALON.IO">
                <span style='font-size:22.5pt;font-family:Helvetica;color:#0089CF;border:none windowtext 1.0pt;
padding:0in;text-decoration:none'>SALES@TALON.IO</span>
            </a><span style='font-size:22.5pt;font-family:Helvetica;color:#444444'>
                &nbsp;FOR MORE
                INFORMATION
            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <span style='font-family:Helvetica'>&nbsp;</span>
        </p>

    </div>




</div>
