@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="wpb_wrapper">
    <p><b>Purpose</b></p>
    <p><span style="font-weight: 400;">Talon is engaged in the infrastructure data collection business. Talon is not engaged in surveillance or amateur photography. It is the policy of Talon Aerolytics to encourage positive conduct that complements legal compliance. Employees should comply with all applicable laws and regulations as well as the principles stated in the Code of Conduct. This policy is informed by the Fair Information Practice Principles (FIPPs). This policy applies to all Talon activities that include the operation of UAS. The pilot using a UAS will be responsible for ensuring policy requirements are applied to all UAS activities, regardless of where they occur.</span></p>
    <p><b>Privacy of Non-Participates</b></p>
    <p><span style="font-weight: 400;">A Non-Participant is a person, vehicle, structure, or vessel that is not included in a Scope of Work. Talon Employees will use the utmost diligence to refrain from taking photographs or videos that could cause embarrassment to anyone. To accomplish this goal, Employees will not photograph or video any person or vehicle identification plates without expression written consent. </span></p>
    <p><b>Process – People &amp; Property on the Surface</b></p>
    <p><span style="font-weight: 400;">In addition to strict compliance with existing laws and regulations, it is imperative that Talon UAS operations are conducted in a manner that is consistent with a respect for privacy, civil rights, and civil liberties. Compliance with this policy is mandatory. </span></p>
    <p><span style="font-weight: 400;">Talon will take the following actions to achieve the objectives above: </span></p>
    <ol>
        <li><span style="font-weight: 400;"> Talon’s Privacy Risk Management Policy and the FIPPs will be applied to all UAS Operations.</span></li>
    </ol>
    <ul>
        <li><span style="font-weight: 400;">All pilots must conduct a risk analysis of any proposed UAS activity and approve the operation prior to the commencement of UAS operations. Any mitigation strategies identified in the risk analysis must be implemented prior to UAS operations. </span></li>
        <li><span style="font-weight: 400;">All proposed UAS operations will be analyzed by the pilot to ensure they meet privacy regulations, statutes, and guidance. </span></li>
        <li><span style="font-weight: 400;">Talon will include appropriate privacy requirements, including compliance with this UAS Privacy Policy, in all contracts involving the use of UAS.</span></li>
    </ul>
    <ol start="2">
        <li><span style="font-weight: 400;"> &nbsp;To the extent practicable, Talon will ensure that UAS operations do not intentionally collect personally identifiable information (PII) which includes imagery, phone, wireless, and any other electronic emissions that might contain PII, unless authorized by law and necessary to accomplish the Talon mission. In the event that PII is collected unintentionally, the pilot using the UAS will notify the Editing Team and the Legal department and obscure or remove identifying data to the extent practicable immediately upon discovery of the PII but no later than ten (10) days after the collection, unless retention is necessary in order to comply with existing law or regulation.</span></li>
    </ol>
    <ol start="3">
        <li><span style="font-weight: 400;"> &nbsp;If people or vehicles are accidentally photographed or videoed, Employees shall remove by alteration, blurring, or obfuscation the face of people, if recognizable, and the identification plates or other identifying marks of vehicles, if recognizable.</span></li>
    </ol>
    <ol start="4">
        <li><span style="font-weight: 400;"> &nbsp;To the extent possible, Employees will not photograph or video structures not within a particular Scope of Work. Under no circumstances will Employees use their systems to photograph or video the interior of a structure, vessel, or vehicle or people inside of structures, vessels, or vehicles.</span></li>
    </ol>
    <ol start="5">
        <li><span style="font-weight: 400;"> Talon will ensure all individuals involved in the operations of UAS are appropriately trained and supervised to ensure compliance with this policy and any specific privacy risk mitigation strategies established by Talon for approved UAS operations.</span></li>
    </ol>
    <ol start="6">
        <li><span style="font-weight: 400;"> To the extent possible and practical, the public shall be notified of the proposed UAS operation. Employees are required to manage and avoid unnecessary risk to people and property on the surface and to people in other aircraft by avoiding operations that may alarm, disturb, or endanger people on the surface. Concerns of the public should be directed to </span><a href="mailto:notices@www.talon.io"><span style="font-weight: 400;">notices@www.talon.io</span></a><span style="font-weight: 400;">.</span></li>
    </ol>
    <ol start="7">
        <li><span style="font-weight: 400;"> Nothing in this policy shall replace or take precedence over any local, state, or federal law or regulation or be construed to impede the safe operation of a UAS.</span></li>
    </ol>
    <p><b>Compliance &amp; Audit </b></p>
    <p><span style="font-weight: 400;">The Legal department shall conduct an annual privacy review of the Talon’s use of UAS to ensure compliance with existing law, regulations, and Talon policy, and to identify potential privacy risks. Where appropriate, the Legal department will make recommendations to ensure that the Talon’s use of UAS is consistent with its authorities and applicable law, regulations, and policies. This policy will remain in effect until superseded by an authorized update. </span></p>
</div>